<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">All Sales</h1>
            <h3 class="mb-5">
                <em>Gestión de Almacén y Ventas</em>
            </h3>
            <a href="/profile" class="btn btn-primary">
                    Iniciar las operaciones
                </a>
        </div>
    </header>
</main>