<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/productos/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="cod_product" placeholder="Código del producto"
                                autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Nombre del producto"
                                required>
                        </div>
                        {{!-- <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option Selecciona> Selecciona Alguno...</option>
                                {{#each lista}}
                                <option value="1">{{name}}</option>
                                {{/each}}
                            </select>
                        </div> --}}
                        <div class="form-group">
                            <input type="text" name="cetegoria" list="datalist1" class="form-control" placeholder="Seleccione una categoria">
                            <datalist id="datalist1">
                                {{#each lista}}
                                <option value="{{name}}">
                                {{/each}}
                            </datalist>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="unidad" placeholder="Unidad Venta">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="unidad_compra" placeholder="Unidad Compra">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="presentacion" placeholder="Presentacion">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="inventario_min"
                                placeholder="inventario Mínimo">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="inventario_max"
                                placeholder="Inventario Máximo">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="precio_in" placeholder="Precio de compra">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="precio_out" placeholder="Precio de venta">
                        </div>
                        <div class="form-group">
                            <textarea rows="2" class="form-control" name="descripcion"
                                placeholder="Descripcion"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                guardar/Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>